.header-link {
  position: relative;
  left: 0.5em;
  opacity: 1;
  font-size: 0.8em;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -o-transition: opacity 0.2s ease-in-out 0.1s;
  transition: opacity 0.2s ease-in-out 0.1s;
}

.scrollToTop {
  display: none;
  padding-top: 7px;
  width: 40px;
  height: 40px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 999px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  color: rgb(0, 123, 255);
  background-color: rgb(0, 123, 255);
  position: fixed;
  outline: none;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  text-align: center;
  border: 2px solid currentcolor;
}
/*toc가 아닐때의 list의 head를 grey색으로 변경*/
.list-grey {
  background-color: #586069 !important;
  border-color: #586069 !important;
}